<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="title">
      <h4><strong>Sign up</strong></h4>
      </div>

      <div class="signup">

        <%= link_to user_facebook_omniauth_authorize_path, :class => 'fb' do%>
        <i class="fa fa-facebook"></i>
        Sign in with Facebook
        <% end %>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>


        <div class="form-inputs">
          <hr class="hr-with-text">
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :is_teacher, as: :radio_buttons, label: 'Are you a teacher?', required: true%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

          <%= f.button :submit, "Sign up" , :class => 'new'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
