<div class="col col-xs-12 col-sm-3">
  <div class="card">
    <%= link_to gif_path(gif), class: "card-link" do %>
    <%= gif.file? ? (cl_image_tag gif.file, class: "gif") : (image_tag "signhowbg.jpeg", class: "gif") %>
    <% end %>
    <div class= "card-info-container">
      <h4 class="card-word"><b><%= gif.title %></b></h4>
      <br>
      <p class="card-language"><%= gif.language %></p>
      <% gif.tag_list.each do |tag| %>
        <div class="tag"><%= link_to tag, tagged_path(tag: tag) %></div>
      <% end %>
    </div>
  </div>
</div>
