<div class="container">
  <div class="newgifs-row">
    <div class="col col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

      <h4><strong>Add a new sign</strong></h4>

      <div class="newgifs">
        <%= simple_form_for(@gif) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :title, required: true, autofocus: true %>
          <%= f.input :language, collection: ["Select Language",
        "Adamorobe Sign Language (Ghana) - [ads]",
        "Afghan Sign Language - [afg]",
        "Al-Sayyid Bedouin Sign Language (Israel) - [syy]",
        "Albanian Sign Language - [sqk]",
        "Algerian Sign Language - [asp]",
        "American Sign Language - [ase]",
        "Argentine Sign Language - [aed]",
        "Armenian Sign Language - [aen]",
        "Auslan (Australia) - [asf]",
        "Australian Aborigines Sign Language - [asw]",
        "Austrian Sign Language - [asq]",
        "Bamako Sign Language (Mali) - [bog]",
        "Ban Khor Sign Language (Thailand) - [bfk]",
        "Bolivian Sign Language - [bvl]",
        "Brazilian Sign Language - [bzs]",
        "British Sign Language - [bfi]",
        "Bulgarian Sign Language - [bqn]",
        "Catalan Sign Language (Spain) - [csc]",
        "Chadian Sign Language (Chad) - [cds]",
        "Chiangmai Sign Language (Thailand) - [csd]",
        "Chilean Sign Language - [csg]",
        "Chinese Sign Language - [csl]",
        "Colombian Sign Language - [csn]",
        "Costa Rican Sign Language - [csr]",
        "Croatia Sign Language - [csq]",
        "Cuba Sign Language - [csf]",
        "Czech Sign Language - [cse]",
        "Danish Sign Language - [dsl]",
        "Dominican Sign Language - [doq]",
        "Ecuadorian Sign Language - [ecs]",
        "Egyptian Sign Language - [esl]",
        "Estonian Sign Language - [eso]",
        "Ethiopian Sign Language - [eth]",
        "Filipino Sign Language - [psp]",
        "Finland-Swedish Sign Language - [fss]",
        "Finnish Sign Language - [fse]",
        "Flemish Sign Language (Belgium) - [vgt]",
        "French Belgian Sign Language - [sfb]",
        "French Sign Language - [fsl]",
        "German Sign Language - [gsg]",
        "Ghanaian Sign Language(Ghana) - [gse]",
        "Ghandruk Sign Language (Nepal) - [gds]",
        "Greek Sign Language - [gss]",
        "Guatemalan Sign Language - [gsm]",
        "Guinean Sign Language - [gus]",
        "Haiphong Sign Language (Vietnam) - [haf]",
        "Hanoi Sign Language (Vietnam) - [hab]",
        "Hausa Sign Language (Nigeria) - [hsl]",
        "Hawaii Sign Language - [hps]",
        "Ho Chi Minh City Sign (Vietnam) - [hos]",
        "Honduras Sign Language - [hds]",
        "Hong Kong Sign Language - [hks]",
        "Hungarian Sign Language - [hsh]",
        "Icelandic Sign Language - [icl]",
        "Indian Sign Language - [ins]",
        "Indonesian Sign Language - [inl]",
        "International Sign - [ils]",
        "Inuit Sign Language (Canada) - [iks]",
        "Irish Sign Language - [isg]",
        "Israeli Sign Language - [isr]",
        "Italian Sign Language - [ise]",
        "Jamaican Sign Language - [jls]",
        "Japanese Sign Language - [jsl]",
        "Jhankot Sign Language (Nepal) - [jhs]",
        "Jordanian Sign Language - [jos]",
        "Jumla Sign Language (Nepal) - [jus]",
        "Kaapor Sign Language (Brazil) - [uks]",
        "Kata Kolok (Indonesia) - [bqy]",
        "Kenyan Sign Language - [xki]",
        "Konchri Sain (Jamaica) - [jcs]",
        "Korean Sign Language - [kvk]",
        "Laos Sign Language - [lso]",
        "Latvian Sign Language - [lsl]",
        "Libyan Sign Language - [lbs]",
        "Lithuanian Sign Language - [lls]",
        "Madagascar Sign Language - [mzc]",
        "Malawian Sign Language - [lws]",
        "Malaysian Sign Language - [xml]",
        "Maltese Sign Language - [mdl]",
        "Maritime Sign Language (Canada) - [nsr]",
        "Mauritian Sign Language - [lsy]",
        "Mexican Sign Language - [mfs]",
        "Miriwoong Sign Language (Australia) - [rsm]",
        "Moldova Sign Language - [vsi]",
        "Mongolian Sign Language - [msr]",
        "Moroccan Sign Language - [xms]",
        "Mozambican Sign Language - [mzy]",
        "Namibian Sign Language - [nbs]",
        "Nepalese Sign Language - [nsp]",
        "New Zealand Sign Language - [nzs]",
        "Nicaraguan Sign Language - [ncs]",
        "Nigerian Sign Language - [nsi]",
        "Norwegian Sign Language - [nsl]",
        "Pakistan Sign Language - [pks]",
        "Panamanian Sign Language - [lsp]",
        "Papua New Guinean Sign Language - [pgz]",
        "Paraguayan Sign Language - [pys]",
        "Penang Sign Language (Malaysia) - [psg]",
        "Persian Sign Language (Iran) - [psc]",
        "Peruvian Sign Language - [prl]",
        "Plains Indian Sign Language (United States) - [psd]",
        "Polish Sign Language - [pso]",
        "Portuguese Sign Language - psr]",
        "Providencia Sign Language (Columbia) - [prz]",
        "Puerto Rican Sign Language - [psl]",
        "Quebec Sign Language (Canada) - [fcs]",
        "Romanian Sign Language - [rms]",
        "Russian Sign Language - [rsl]",
        "Salvadoran Sign Language (El Salvador) - [esn]",
        "Saudi Arabian Sign Language [sdl]",
        "Selangor Sign Language (Malaysia) - [kgi]",
        "Sierra Leone Sign Language - [sgx]",
        "Sign Language of the Netherlands - [dse]",
        "Singapore Sign Language - [sls]",
        "Slovakian Sign Language - [svk]",
        "Solomon Islands Sign Language - [szs]",
        "South African Sign Language - [sfs]",
        "Spanish Sign Language - [ssp]",
        "Sri Lankan Sign Language - [sqs]",
        "Swedish Sign Language - [swl]",
        "Swiss-French Sign Language - [ssr]",
        "Swiss-German Sign Language - [sgg]",
        "Swiss-Italian Sign Language - [slf]",
        "Taiwan Sign Language - [tss]",
        "Tanzanian Sign Language - [tza]",
        "Tebul Sign Language (Mali) - [tsy]",
        "Thai Sign Language - [tsq]",
        "Trinidad and Tobago Sign Language - [lst]",
        "Tunisian Sign Language - [tse]",
        "Turkish Sign Language - [tsm]",
        "Ugandan Sign Language - [ugn]",
        "Ukrainian Sign Language - [ukl]",
        "Uruguayan Sign Language - [ugy]",
        "Valencian Sign Language (Spain) - [vsv]",
        "Venezuelan Sign Language - [vsl]",
        "West Bengal Sign Language - [wbs]",
        "Yan-nhangu Sign Language (Australia) - [yhs]",
        "Yolngu Sign Language (Australia) - [ygs]",
        "Yucatec Maya Sign Language (Mexico) - [msd]",
        "Yugoslavian Sign Language (Serbia) - [ysl]",
        "Zambian Sign Language - [zsl]",
        "Zimbabwe Sign Language - [zib]",
        ] %>
          <%= f.input :tag_list, label: "Please input tags separated by commas" %>
          <%= f.file_field :file, id: "avatar-upload" %>
          <div class="form-group">
            <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
            <!-- <span class="btn btn-default btn-file"> -->
            <!-- </span> -->
          <%= f.input :file_cache, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Submit", :class => 'addsign' %>
          </div>
          <!--  Drag & Drop -->
         <!--  <div id="dropbox"><img src="https://image.flaticon.com/icons/svg/337/337936.svg" alt=""></div>
          <!-- end -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
