<div class="navbar-signhow">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-signhow-brand" do %>
    <%= image_tag "Logo.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-signhow-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <%= link_to "Add a Sign", "#", class: "btn-purple" %>
      <%= link_to "Dashboard", "#", class: "navbar-signhow-item navbar-signhow-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-signhow-item">
        <div class="dropdown">
        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-signhow-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn-purple" %>
      <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "btn-blue" %>
      <%= link_to t(".sign_up", default: "Add a Sign"), new_user_registration_path, class: "navbar-signhow-item navbar-signhow-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="navbar-signhow-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-signhow-dropdown-menu">
        <li><%= link_to "Messages", "#", class: "navbar-signhow-item navbar-signhow-link" %></li>
        <li><%= link_to "Dashboard", "#", class: "navbar-signhow-item navbar-signhow-link" %></li>
      </ul>
    </div>
  </div>
</div>
