<div class="navbar-signhow">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-signhow-brand" do %>
    <%= image_tag "SignHowLogo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-signhow-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <%= link_to "Add a Sign", "#", class: "navbar-signhow-item navbar-signhow-link" %>
      <%= link_to "Dashboard", "#", class: "navbar-signhow-item navbar-signhow-link" %>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= link_to "Messages", class: "navbar-signhow-item navbar-signhow-link" %>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-signhow-item">
        <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-signhow-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-signhow-item navbar-signhow-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="navbar-signhow-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-signhow-dropdown-menu">
        <li><%= link_to "Messages", "#", class: "navbar-signhow-item navbar-signhow-link" %></li>
        <li><%= link_to "Dashboard", "#", class: "navbar-signhow-item navbar-signhow-link" %></li>
      </ul>
    </div>
  </div>
</div>
