      <div class="row">
          <% @random.each do |gif| %>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <div class="card">
          <%= link_to gif_path(gif), class: "card-link" do %>

              <%= gif.file? ? (cl_image_tag gif.file, class: "gif") : (image_tag "signhowbg.jpeg", class: "gif") %>

              <% end %>

              <div class= "card-info-container">
                <div class="card-title">
                  <h4 class="card-word"><b><%= gif.title %></b></h4>
                  <div class="card-votes">
                    <% if user_signed_in? %>
                      <% if current_user.voted_up_on? gif %>
                        <div>
                          <%= gif.get_upvotes.size %>
                          <%= link_to unvote_path(gif),  method: :post do %>
                        <i class="fas fa-thumbs-up upvotes-sm"></i>
                      <% end  %>
                        </div>
                        <!-- <div>
                          <%= gif.get_downvotes.size %>
                          <%= link_to downvote_path(gif),  method: :post do %>
                            <i class="fas fa-thumbs-down downvotes-sm"></i>
                          <% end %>
                        </div> -->
                      <% elsif current_user.voted_down_on? gif %>
                        <div>
                          <%= gif.get_upvotes.size %>
                          <%= link_to upvote_path(gif),  method: :post do %>
                          <i class="fas fa-thumbs-up upvotes-sm"></i>
                          <% end %>
                        </div>
                        <!-- <div>
                          <%= gif.get_downvotes.size %>
                          <i class="fas fa-thumbs-down downvotes-sm"></i>

                        </div> -->
                      <% else  %>
                        <div>
                          <%= gif.get_upvotes.size %>
                          <%= link_to upvote_path(gif),  method: :post do %>
                          <i class="fas fa-thumbs-up upvotes-sm"></i>
                          <% end %>
                        </div>
                        <!-- <div>
                          <%= gif.get_downvotes.size %>
                          <%= link_to downvote_path(gif),  method: :post do %>
                          <i class="fas fa-thumbs-down downvotes-sm"></i>
                          <% end %>
                        </div> -->
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <p class="card-language"><%= gif.language %></p>
                <div class="tag-container">
                <% gif.tag_list.each do |tag| %>
                  <div class="tag"><%= link_to tag, tagged_path(tag: tag) %></div>
                <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>

