<br>
<div class="tabs">
  <a class="tab active" href="#">
    <h3>4</h3>
    <p> Favorites</p>
  </a>
  <a class="tab" href="#">
    <h3><%=@user.gifs.count%></h3>
    <p> My GIFs</p>
  </a>
  <a class="tab" href="#">
    <h3></h3>
    <p> Profile</p>
  </a>
  <a class="tab" href="#">
    <h3></h3>
    <p> Upgrade</p>
  </a>
</div>

<div class="gif-tabs">

  <br>
  <h4>My favourite gifs</h4>
  <% @gifs.each do |gif| %>
    <h5><%= gif.title %></h5>
    <li><%= gif.language %></li>
    <li><%= cl_image_tag gif.file %></li>
  <% end %>

  <br>

  <h4>Created gifs</h4>
  <% @user.gifs.each do |gif| %>
    <h5><%= gif.title %></h5>
    <li><%= gif.language %></li>
    <li><%= cl_image_tag gif.file %></li>
  <% end %>

</div>