<div class="tabs">
  <a class="tab" data-toggle="tab" href="#home">
    <h3><%=@user.favorites.count%></h3>
    <p> Favorites</p>
  </a>
  <a class="tab" data-toggle="tab" href="#menu1">
    <h3><%=@user.gifs.count%></h3>
    <p> My Signs</p>
  </a>
  <a class="tab" data-toggle="tab" href="#menu2">
    <h3><i class="fa fa-user"></i></h3>
    <p> Profile</p>
  </a>
  <a class="tab" data-toggle="tab" href="#menu2">
    <h3><i class="fa fa-star"></i></h3>
    <p> Premium</p>
  </a>
</div>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="gif-tabs">
      <div class="row">
        <br>
        <h4>Favorite Signs</h4>
        <% @favorites.each do |favorite| %>
          <div class="col col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <%= link_to gif_path(favorite) do %>
              <div class="card">
                <%= cl_image_tag favorite.file, class: "gif" %>
                <h4 class="word"><b><%= favorite.title %></b></h4>
                <br>
                <p class="language"><%= favorite.language %></p>
                <% @gifs.each do |gif| %>
                  <% gif.tags.each do |tag| %>
                    <div class="tag"><%= tag.name %></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="menu1" class="tab-pane fade">
    <div class="gif-tabs">
      <div class="row">
        <br>
        <h4>My Signs</h4>
        <% @user.gifs.each do |gif| %>
          <div class="col col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <%= link_to gif_path(gif) do %>
              <div class="card">
                <%= cl_image_tag gif.file, class: "gif" %>
                <h4 class="word"><b><%= gif.title %></b></h4>
                <br>
                <p class="language"><%= gif.language %></p>
                <% @gifs.each do |gif| %>
                  <% gif.tags.each do |tag| %>
                    <div class="tag"><%= tag.name %></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <%= link_to "Edit GIF", edit_gif_path(gif) %>
            <%= link_to "Delete GIF", gif_path(gif), method: :delete, data: { confirm: 'Are you sure you want to delete this gif?' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

<br>
