<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1493851449704-07ee5725d916?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2201f7a90289ef05567fc836dcba456d&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h2>Welcome to the Global Sign Language Dictionary</h2>

    <div class="search">
      <div class="search-1">
        <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Search by Word or Phrase"
        %>
      </div>
     <!--  </div> -->
      <div class="search-2">
        <%= select_tag :query_language, options_for_select(Gif::LANGUAGES) %>
      </div>
      <div class="search-3">
        <%= submit_tag "", :class => 'searchbutton' %>
              <i class="fa fa-search" style = "font-size: 40px; margin-right: 15px; margin-top: 5px;"></i>
        <% end %>
      </div>
    </div>

    <p>200,000 Signs | 300+ Sign Languages | 40 Countries | 1.2 Million Users</p>
  </div>
</div>

<br>


<div class="container">
  <br>
  <h4 class="discover-title">Discover new sign languages from around the world</h4>
  <br>
  <br>


  <div class="row">
    <% @gifs.each do |gif| %>
    <div class="col col-xs-12 col-sm-4 col-md-4">

      <%= link_to gif_path(gif) do %>
      <div class="card">
        <%= cl_image_tag gif.file, class: "gif" %>
          <h4 class="word"><b><%= gif.title %></b></h4>
          <br>
          <p class="language"><%= gif.language %></p>
          <% gif.tags.each do |tag| %>
            <div class="tag"><%= tag.name %></div>
          <% end %>
          <p>Upvotes: <%= gif.get_upvotes.size %></p>
          <p>Downvotes: <%= gif.get_downvotes.size %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
