<div class="container">
  <% if @query != "" %><h4 class="section-title">Word or Phrase: <%= @query %></h4><% end %>
  <% if @query_language != "" %><h4 class="section-title">Language: <%= @query_language %></h4><% end %>


  <div class="search">
    <div class="search-1">
      <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Search by Word or Phrase"
        %>
    </div>
      <!--  </div> -->
    <div class="search-2">

      <%= select_tag :query_language, options_for_select(Gif::LANGUAGES), include_blank: true, prompt: "Select a Language" %>

    </div>
    <div class="search-3">

      <%= button_tag type: 'submit', class: "searchbutton" do %>
      <i class="fa fa-search" style = "font-size: 24px; margin: 0px; padding-top: -20px;"></i>
      <% end %>
      <% end %>


    </div>
  </div>




  <div class="container-cards">
    <%= render 'card' %>
  </div>

</div>



