<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-4 col-md-4 col-sm-offset-4">
      <h3>Displaying results for:</h3>
      <h4>"<%= @query %>"</h4>
      <br>
      <%= form_tag search_path, method: :get do %>
      <%= label_tag "Search again?" %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: ""
        %>
        <% end %>
        <br>

    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <% @gifs.each do |gif| %>
      <div class="card">
        <%= cl_image_tag gif.file%>
        <div class="container">
          <h4 class="word"><b><%= gif.title %></b></h4>
            <br>
          <p class="language"><%= gif.language %></p>
          <p class="tag">#tags</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
