<section id=upgrade-section>
  <div class="upgrade-wrapper">

      <br>
      <br>

  <% if current_user.subscribed == false %>

      <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
        <div class="upgrade-card">
          <h4 class="upgrade-card-word"><b><i class="fa fa-angellist"></i>Free Services</b></h4>
          <label class="amount">
            <span>
              <ul>
                Always Free!
              </ul>
            </span>
          </label>
          <br>
          <br>
            <p class="upgrade-card-language">Searching for signs is always free.</p>
            <p class="upgrade-card-language">Browsing by tags is always free.</p>
            <p class="upgrade-card-language">Adding new signs is always free.</p>
            <p class="upgrade-card-language">Upvoting signs is always free.</p>
        </div>
      </div>

      <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
        <div class="upgrade-card">
          <h4 class="upgrade-card-word"><i class="fa fa-key"></i><b>Paid Services</b></h4>
          <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
            <% end %>
            <label class="amount">
              <span>
                <ul>
                  $10 monthly
                </ul>
              </span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-email="<%= current_user.email %>"
              data-label="Monthly Subscription"
              data-amount="1000"></script>
              <%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %>
              <%= hidden_field_tag 'plan', 'plan_CqDMOVy8qGmsdb' %>
          <% end %>

          <br>

            <p class="upgrade-card-language">Save signs to your favorites.</p>
            <p class="upgrade-card-language">Create folders for saved signs.</p>
            <p class="upgrade-card-language">Make your signs private or public.</p>
        </div>
      </div>

      <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
        <div class="upgrade-card">
          <h4 class="upgrade-card-word"><i class="fa fa-key"></i><b>Paid Services</b></h4>
          <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
            <% end %>
            <label class="amount">
              <span>
                <ul>
                  $100 anually
                </ul>
              </span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-email="<%= current_user.email %>"
              data-label="Yearly Subscription"
              data-amount="10000"></script>
              <%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %>
              <%= hidden_field_tag 'plan', 'plan_CrJanLK0RWP3i1' %>
          <% end %>

          <br>

            <p class="upgrade-card-language">Save signs to your favorites.</p>
            <p class="upgrade-card-language">Create folders for saved signs.</p>
            <p class="upgrade-card-language">Make your signs private or public.</p>
        </div>
      </div>


  <% else %>
    <h5>You are currently subscribed to our Individual plan.</h5>
    <%= link_to 'Cancel Subscription', cancel_plan_path, method: :delete, data: { confirm: 'Are you sure you want to cancel your subscription?' } %>
  <% end %>

  </div>
</section>
